@model _2280605191_HoQuocCuong.Models.Category

@{
    ViewData["Title"] = "Cập nhật phân loại";
}

<h2>Cập nhật phân loại</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Update">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Tên phân loại</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Cập nhật" class=" btn btn-secondary" />
                <a asp-action="Index" class="btn btn-primary">Trở về</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} 