@model _2280605191_HoQuocCuong.Models.Product 
@using Microsoft.AspNetCore.Mvc.Rendering 
@{ 
	ViewData["Title"] = "Thêm sản phẩm"; 
}	
<h2>Thêm sản phẩm</h2>

<form asp-action="Add" method="post" enctype="multipart/form-data"> 
	<div class="form-group"> 
		<label asp-for="Name">Tên sản phẩm</label> 
		<input asp-for="Name" class="form-control" /> 
		<span asp-validation-for="Name" class="text-danger"></span> 
	</div> 
	<div class="form-group"> 
		<label asp-for="Price">Giá</label>
		<input asp-for="Price" class="form-control" />
		<span asp-validation-for="Price" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="Description">Mô tả</label>
		<textarea asp-for="Description" class="form-control"></textarea>
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="CategoryId">Phân loại</label>
		<select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-control"></select>
	</div>
	<div class="form-group">
		<label asp-for="ImageUrl">Hình ảnh</label>
		<input type="file" asp-for="ImageUrl" class="form-control" />
	</div>
	<button type="submit" class="btn1 btn btn-primary">Thêm</button>
	<a asp-action="Index" class="btn1 btn btn-secondary">Trở về</a>
</form>